body {
  font-family: Arial, sans-serif;
  background: #0f2027;
  color: white;
  text-align: center;
}

canvas {
  max-width: 900px;
  height: 450px !important;
  margin: 30px auto;
  display: block;
}

button {
  padding: 10px 16px;
  margin: 6px;
  font-size: 16px;
  cursor: pointer;
}
.hormones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.hormone {
  width: 180px;
  text-align: center;
}

.hormone span {
  display: block;
  margin-bottom: 6px;
}

.bar {
  height: 14px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  overflow: hidden;
}

#insulinBar {
  height: 100%;
  width: 0%;
  background: #4dabf7; /* blau */
  transition: width 0.3s;
}

#glucagonBar {
  height: 100%;
  width: 0%;
  background: #ffa94d; /* orange */
  transition: width 0.3s;
}
